/*remove margin from current weather containers*/
html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
body {
  color: #f5ede9;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("img/lightning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly-forecast-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  font-size: 1.3rem;

}

.weekly-forecast-image{
  justify-self: center;
}
.weather-content-container {
  display: flex;
  justify-content: center;
  /*gap: 100px;*/
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px;
  font-size: 1.5rem;
  gap: 45px;
  transition: ease all 0.5s;
}
#weather-container-current {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.current-condition-container{
  justify-content: flex-start;

}
.current-temp-data {
  color: #fad54f;
  font-size: 4rem;
  font-weight: bolder;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.weekly-image-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
.weekly-image-container img{
  margin-left: -15px;
}

.hourly-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 120px;
}

/*they originally have 24px top and bottom margin for some reason*/
.hourly-data-container > * {
  margin: 0;
}
.small-text {
  font-size: 0.8rem;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items:center ;
}
.timeOfDayContainer {
  display: flex;
  gap: 5px;
}

.hourly-forecast-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /*gives transparency to the background*/
  background: rgba(98, 93, 98, 0.3);
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
  transition: ease all 1s;
}

.body-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  gap: 120px;
}

/*applies flex to all children of the class*/
#weather-container-current > * {
  display: flex;
  gap: 5px;
}

.more-details-container > * {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

  .precipitation-probability {
    width: 60%;
  }

  .precip-prob-container {
   justify-content: flex-start;
    align-items: center;
  }
.image-container > * {
  display: flex;
  gap: 5px;
}
.no-margin {
  margin: 0;
}

.feels-like-data {
  display: flex;
  align-items: center;
  justify-content: center;
}

.min-forecast-container,.max-forecast-container{
  display: flex;
  gap: 5px;
}


.air-humidity,
.wind-speed,
.pressure,
.precipitation-probability{
  width: 100%;
}
.left-button,.right-button{
background-color: transparent;
  border: none;
  font-size: 1rem;
}

.left-button:hover , .right-button:hover{
  color: white;
  cursor: pointer;
}
@media (max-width: 1300px) {
  body {
    background-size: auto;
    background-position: center right;

  }
  .body-content{
    gap: 50px;
    padding: 20px
  }

  .weather-content-container {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  #weather-container-current {
    align-items: center;
    justify-content: center;
  }

  .header-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }



  .image-container {
    justify-content: center;
    align-items: center;
  }

  .hourly-forecast-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-height: 450px;
    position: relative;
    padding: 40px;
  }

  .left-button {
    position: absolute;
    left: 5px;

  }

  .right-button {
    position: absolute;
    right:5px;
  }

  #hourly-1 {
    grid-column: 1;
    grid-row: 1;
  }
  #hourly-2 {
    grid-column: 2;
    grid-row: 1;
  }
  #hourly-3 {
    grid-column: 3;
    grid-row: 1;
  }

  #hourly-4 {
    grid-column: 4;
    grid-row: 1;
  }

  #hourly-5 {
    grid-column: 1;
    grid-row: 2;
  }

  #hourly-6 {
    grid-column: 2;
    grid-row: 2;
  }

  #hourly-7 {
    grid-column: 3;
    grid-row: 2;
  }

  #hourly-8 {
    grid-column: 4;
    grid-row: 2;
  }
}

@media (min-width: 1600px){
  .weather-content-container{
    gap: 150px;
  }
}