  /*remove margin from current weather containers*/
html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;}
body {
  color: #f5ede9;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-image: url("/img/lightning.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weekly-forecast-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  font-size: 1.3rem;

}
.weather-content-container {
  display: flex;
  justify-content: center;
  /*gap: 100px;*/
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px;
  font-size: 1.5rem;
  gap: 45px ;

}
#weather-container-current {
  display: flex;
  flex-direction: column;
 flex-wrap: nowrap;

}



.current-temp-data {
 color: #fad54f;
  font-size:4rem;
  font-weight: bolder;

}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 120px;




}



/*they originally have 24px top and bottom margin for some reason*/
.hourly-data-container > * {
  margin: 0;
}
.small-text{
  font-size: 0.8rem;
  font-weight: lighter;
  color:rgba(255,255,255,0.5);
}
.timeOfDayContainer {
  display: flex;
  gap: 5px;
}

.hourly-forecast-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /*gives transparency to the background*/
  background: rgba(98, 93, 98, 0.3);
  padding: 20px;
  border-radius: 10px;
  gap: 15px;






}

.body-content {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  /*gap: 120px;*/

}

/*applies flex to all children of the class*/
#weather-container-current > * {
  display: flex;
  gap: 5px;
}

.more-details-container > * {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.image-container > * {
  display: flex;
  gap: 5px;
}
.no-margin {
  margin: 0;
}

.feels-like-data{
  display: flex;
  align-items: center;
}

.air-humidity,.wind-speed,.pressure{
  width: 100%;
}