html {
  padding: 0;
  margin: 0;
  height: 100vh;
}
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  /*background-image:url("/img/cabinBackground.jpg") ;*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center center ;*/
  height: 100%;
}

.header-container {
  padding: 20px;
  outline: red solid 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-content-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}
#weather-container-current {
  display: flex;
  flex-direction: column;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeOfDayContainer {
  display: flex;
  gap: 5px;
}

.hourly-forecast-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.current-condition-container,*/
/*.current-date-container,*/
/*.current-humidity-container,*/
/*.current-temp-container,*/
/*.forecast-condition-container,*/
/*.forecast-humidity-container,*/
/*.forecast-temp-low-container,*/
/*.forecast-temp-high-container,*/
/*.forecast-date-container,*/
/*.location-container {*/
/*  display: flex;*/
/*  gap: 5px;*/
/*}*/

/*applies flex to all children of the class*/
#weather-container-current > * {
  display: flex;
  gap: 5px;
}

.more-details-container > * {
  display: flex;
  gap: 5px;
}

.image-container > * {
  display: flex;
  gap: 5px;
}
